// .about {
//   height: 23vh;
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   &_container {
//     display: flex;
//     justify-content: center;
//   }
//   &_describe {
//     width: 60%;
//     padding: 2rem;
//     font-family: 'Poppins';
//     font-size: 1.2rem;
//   }
//   &_profil {
//     width: 8%;
//     clip-path: ellipse(49% 28%)
//   }
// }

@use '../../vars';

.about {
  
  border-left: 1px solid vars.$white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 1.5rem;

  // width: auto;
//   border: 1px solid red;
//   position: absolute;
//   right: 0;
  &_title {
    font-size: 2rem;
  }
  &_describe {
    margin-left: 1.5rem;
    width: 80%;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 1.2rem;
    
  }
     &_img {
        width: 10%;
        clip-path: ellipse(49% 28%);
        float: right;
  }
}