@use "../../vars";

@font-face {
  font-family: 'Poppins-Light';
  src: url('../../assets/font/Poppins-Light.ttf');
}

.hardSkills {
  // box-shadow: 10px 10px 5px rgb(147 149 156 / 30%);
  &_title {
    font-family: 'Poppins-Light';
    text-transform: uppercase;
    color: vars.$white;
    font-size: 1.5rem;
    margin-left: 5rem;
    &::after {
      display: block;
      content: "";
      margin-top: -1rem;
      margin-left: 11rem;
      width: 705px;
      height: 1px;
      background-color: vars.$white; 
    }
  }
  &_container {
  margin-left: 9rem;
  border-left: 1px solid vars.$white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  }
  &_logo {
    margin-top: 2rem;
    width: 17%;
  } 
}

